*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    color: #99dbdb;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    background: -moz-linear-gradient(90deg, #0000FF 0%, #EE82EE 100%);

    background: -webkit-linear-gradient(90deg, #0000FF 0%, #EE82EE 100%);

    background: -o-linear-gradient(90deg, #0000FF 0%, #EE82EE 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee82ee', endColorstr='#0000FF', GradientType=0);

    background: -ms-linear-gradient(90deg, #0000FF 0%, #EE82EE 100%);

    background: linear-gradient(90deg, #0000FF 0%, #EE82EE 100%);

}

.container {
    width: 90%;
    max-width: 450px;
}

h1 {
    color: white;
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;

}

.display-container {
    position: relative;
    background-color: violet;
    border-radius: 1rem;
    border-bottom: 0.35rem solid rgb(57, 13, 167);
    margin: 1rem;
    padding-top: 0.35rem;
}

.display {
    width: 100%;
    background-color: transparent;
    color: yellow;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.2rem;
    border: none;

}

.display::placeholder {
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: yellow;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);

}

.display-container button {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
}




.input-container {
    width: 100%;
    background-color: rgb(41 24 111);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid black;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    color: white;
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    color: white;
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: white;
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton{
    width: 100%;
    padding: 1rem 0;
    background-color: #0c0c0c;
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid gray;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0;
}

.check input{
    appearance: none;     /*clear default property*/
    width: 20px;
    height: 20px;
    border: 1px solid cyan;
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: cyan;
}

.check input:checked::before{
    content: "✓";
    position: absolute;
    color: green;
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: -3.5px;
    transform: translateX(-50%);
}

.check lable{
    color: white;
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width: 100%;
    cursor: pointer;
    height: 0.75rem;
    background-color: #09090969;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--vd-violet),var(--vd-violet));
    background-repeat: no-repeat;
}

.slider::-webkit-slider-thumb{          /*psudo element selector(-webkit-slider-thumb)*/
     position: relative;
     z-index: 1;
     appearance: none;
     height: 2rem;
     width: 2rem;
     border-radius: 50%;
     background-color: yellow;
     cursor: pointer;
     margin-top: -3px;
     box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
     transition: all 100ms ease-in;
}

.slider:focus{
    outline: 3px solid yellow;
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid yellow;
    background-color: black;
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}

.copyBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

.tooltip{
     position: absolute;
     background-color: violet;
     color: yellow;
     font-size: 1.25rem;
     top: -35px;
     left: -25px;
     padding: 5px 10px;
     border-radius: 1rem;
     opacity: 0;
     transform: scale(0);
     transform-origin: bottom;
     transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}

